{{> header}}
<div class="container">
  <!-- Content here -->
  <div class="jumbotron">
    <h1 class="display-4">Weather app</h1>
    <hr class="my-4">
    <ul class="nav color-gray nav-pills">
      <li class="nav-item ">
        <a class="nav-link active" href="#">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/weather">Погода</a>
      </li>
    </ul>

    <div class="mx-auto" style="width: 200px;">
      <a href="/weather" class="btn btn-primary">Поиск по городам</a>
    </div>
  </div>


</div>

{{> footer}}