{{> header}}

<div class="container">
  <!-- Content here -->
  <div class="jumbotron">
    <h1 class="display-4">Weather app</h1>
    <hr class="my-4">
    <ul class="nav color-gray nav-pills">
      <li class="nav-item">
        <a class="nav-link " href="/">Главная</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" href="/weather">Погода</a>
      </li>

      <div class="container mt-20">
        <form action="/weather" method="get">
          <div class="form-group">
            <label for="city">Город</label>
            <input type="text" name="city" class="form-control" id="city"
              placeholder="Введите город (Kyiv, Las Vegas ....)">

          </div>

          <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
        <br>
        <br>
        <br>
        <div class="weather">
          <table class="table">
            <tbody>
              <tr>
                <td>Город</td>
                <td>{{weather.city}}</td>
              </tr>
              <tr>
                <td>Погода, C</td>
                <td>{{weather.temp}}</td>
              </tr>
              <tr>
                <td>Ощущается как, C </td>
                <td>{{weather.feels}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  </ul>
</div>

{{> footer}}